<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Willkommen zu Boulderevents.de, <%= @user.name %></h1>
    <p>
      Du hast dich erfolgreich bei uns registriert als: <%= @user.login %>.<br/>
    </p>
  </body>
</html>