%h4 Changelog

%p
  Auf dieser Seite halte ich euch auf dem laufenden wann sich etwas verändert hat, und was neu hinzugekommen ist.

%div.bs-docs-example{:title => "26.02.2013"}
  %ul
    %li Anmeldung löschen
    %li Anmeldung editieren
    %li Changelog