- @news.each do |news|
  %div.bs-docs-example{:title => "News"}
    - if current_user && current_user.has_role?(:admin)
      = link_to edit_admin_news_path(:id => news.id) do
        %i.icon-pencil
    %h2= news.headline
    %h6= news.subline
    %p= raw news.news_text