%table.table.table-striped
  %thead
    %tr
      %th Details
      %th Name
      %th Startzeit
      %th Anmeldestart
      %th Kletterhalle
  %tbody
    - @events.each do |event|
      %tr
        %td Link zum Detailpage
        %td= event.name
        %td= event.start_time
        %td= event.registration_start
        %td= event.hall != nil ? event.hall.name : ""
