%div.bs-docs-example{:title => @event.name}
  - if current_user && current_user.has_role?(:admin)
    = link_to edit_admin_event_path(:id => @event.id) do
      %i.icon-pencil
  %h6= @event.start_time
  %h6= @event.registration_start
  %p= @event.description

